<div class="container">
  <h4 class="m-4">
    <span class="bg-light text-dark px-2"><strong>商品編集</strong></span>
  </h4>
    <div class="row  justify-content-center" >
      <div class="col-md-10 col-lg-8">
        <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch, local: true, html: { multipart: true } do |f| %> 
          <div class="mb-3 row align-items-center">
            <label class="col-md-5 col-form-label text-end"><strong><%= f.label :image, "商品画像" %></strong></label>
            <div class="col-md-3">
              <%= f.file_field :image, accept: "image/*" %>
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <label class="col-md-5 col-form-label text-end"><strong><%= f.label :name, "商品名" %></strong></label>
            <div class="col-md-3">
              <%= f.text_area :name, placeholder: "商品名", rows: 1, cols: 30 %>
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <label class="col-md-5 col-form-label text-end"><strong><%= f.label :introduction, "商品説明" %></strong></label>
            <div class="col-md-7">
              <%= f.text_area :introduction, placeholder: "商品説明", rows: 5, cols: 30 %>
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <label class="col-md-5 col-form-label text-end"><strong><%= f.label :genre_id, "ジャンル" %></strong></label>
            <div class="col-md-3">
              <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name, @item.genre_id) %>
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <label class="col-md-5 col-form-label text-end"><strong><%= f.label :price, "税抜価格" %></strong></label>
            <div class="col-md-5">
              <%= f.number_field :price, placeholder: "1000", min: 0, step: 1 %><strong>円</strong>
            </div>
          </div>
          <div class="mb-3 row align-items-center">
            <label class="col-md-5 col-form-label text-end"><strong><%= f.label :is_active, "販売ステータス" %></strong></label>
            <div class="col-md-5">
              <!-- 販売中 -->
              <%= f.radio_button :is_active, true %>
              <strong><%= f.label :is_active_selling, "販売中" %></strong></label>
              <!-- 販売中止 -->
              <%= f.radio_button :is_active, false %>
              <strong><%= f.label :is_active_stopped, "販売停止中" %></strong></label>
            </div>
          </div>
          <div class="d-flex justify-content-center gap-3">
            <%= f.submit "変更を保存", class: "btn btn-success m-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>