<h1>商品詳細</h1>

<!-- variantでサイズを変更している -->
<!-- processedで処理している-記述がないと非同期になりサイズ変更されない可能あり -->
<%= image_tag @item.image.variant(resize: "300x300").processed %>

<p>商品名 <%= @item.name %></p>

<p>商品説明 <%= @item.introduction %></p>

<p>ジャンル <%= @item.genre.name %></p>

<!-- tax_included_priceで税込価格 floorで小数点以下を切り捨て-->
<p>税込価格<br>(税抜価格) <%= "#{number_with_delimiter(@item.tax_included_price.floor)} (#{number_with_delimiter(@item.price.floor)}) 円" %></p>

<!-- 販売ステータス 三項演算子を使用 左true 右false -->
<p>販売ステータス <%= @item.is_active ? "販売中" : "販売停止中" %></p>

<%= link_to "編集する", edit_admin_item_path(@item) %>
