<div class="position-relative" style="height: 400px;">
  <!-- 背景画像 -->
  <div style="background-image: url('<%= asset_path('naganocake5.jpg') %>'); background-size: cover; background-position: center; height: 100%; filter: brightness(1); position: absolute; top: 0; left: 0; width: 100%; z-index: -1;"></div>
  
  <!-- 背景画像の上に半透明のオーバーレイ -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.7); z-index: -1;"></div>
  
  <!-- 文字を中央に配置 -->
  <div class="d-flex justify-content-center align-items-center w-100 h-100 text-white text-center" style="z-index: 1; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">
    <div>
      <p class="fs-4 fw-bold">ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>

<h2>新着商品</h2>
<div class="row">
<% @items.each do |item| %>
  <div class="col-md-3 mb-4"> 
    <% if item.image.present? %>
      <%= link_to item_path(item) do %>
        <%= image_tag item.image.variant(resize_to_fill: [270, 200]).processed %>
      <% end %>
    <% end %>
    <h5><%= item.name %></h5>
    <p>¥<%= number_with_delimiter(item.tax_included_price.floor) %></p>
  </div>
<% end %></div>


<div class="d-flex justify-content-end">
  <%= link_to 'すべての商品を見る＞', items_path %>
</div>


