<%= paginator.render do -%>
  <nav class="pagination" role="navigation" aria-label="pager">
    <%= first_page_tag unless current_page.first? %>
    <% unless current_page.first? %>
      <span style="margin: 0 5px;"> </span>
    <% end %>
    <%= prev_page_tag unless current_page.first? %>
    <% unless current_page.first? %>
      <span style="margin: 0 5px;"> </span>
    <% end %>

    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= page_tag page %>
        <%# ページ番号の間にスペースを追加 %>
        <% unless page.last? %>
          <span style="margin: 0 5px;"> </span>
        <% end %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>

    <% unless current_page.out_of_range? %>
      <% unless current_page.last? %>
        <span style="margin: 0 5px;"> </span>
        <%= next_page_tag %>
      <% end %>
      <% unless current_page.last? %>
        <span style="margin: 0 5px;"> </span>
        <%= last_page_tag %>
      <% end %>
    <% end %>
  </nav>
<% end -%>