<h1>注文履歴詳細</h1>

<h3>注文情報</h3>
<table>
  <tbody>
    <tr>
      <td>注文日</td>
      <!-- strftime("%Y/%m/%d") で yyyy/mm/dd表記に変更 -->
      <td><%= @order.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td>
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= t("activerecord.attributes.order.payment_method.#{@order.payment_method}") %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= t("activerecord.attributes.order.status.#{@order.status}") %></td>
    </tr>
  </tbody>
</table>



<h3>請求情報</h3>
<table>
  <tbody>
    <tr>
      <td>商品合計</td>
      <!-- number_with_delimiterで3行ごとに , を入れる floorで小数点消す-->
      <td><%= number_with_delimiter(@order.total_payment.floor) %></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td> <%= number_with_delimiter(@order.total_payment.floor + @order.shipping_cost) %></td>
    </tr>
  </tbody>
</table>


<h3>注文内容</h3>
<table>
  <thead>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <!-- 商品 -->
        <td><%= order_detail.item.name %></td>

        <!-- 単価税込 -->
        <td><%= order_detail.item.tax_included_price.floor %></td>

        <!-- 個数 -->
        <td><%= order_detail.amount %></td>

        <!-- 小計 -->
        <td><%= order_detail.item.tax_included_price.floor * order_detail.amount.floor %></td>
      </tr>
    <% end %>
  </tbody>
</table>