<h1>商品一覧</h1>

<!-- 登録商品数 -->
<h2><%= "(全#{@items.count}件)" %></h2>

<!-- 登録商品リスト -->
<% @items.each do |item| %>

  <!-- 商品画像 variantでサイズ変更 processedで未処理の画像がある場合でもエラーにならない -->
  <%= link_to item_path(item) do %>
    <%= image_tag item.image.variant(resize: "300x300").processed %>
  <% end %><br>

  <%= item.name %><br>

  <!-- number_with_delimiter金額に税10%するメソッド floor小数点切り捨て %-->
  ¥<%= number_with_delimiter(item.tax_included_price.floor) %>
<% end %>

<!-- ページネーション -->
<%= paginate @items %>