<%= image_tag @item.image.variant(resize: "300x300") %>

<%= @item.name %>

<%= @item.introduction %>

<p>￥ <%= number_with_delimiter(@item.price) %> (税込) </p>

<!-- カートへ渡す数量選択 url指定カートへ -->
<%= form_with model: @item, url: cart_items_path(@item), method: :post, local: true do |f| %>
  <!-- @itemのitem_idをカートのamountへ渡す -->
  <%= f.hidden_field :item_id, value: @item.id %>

  <!-- セレクトボックスで1~10個を選択 カートのamountへ渡す -->
  <%= f.select :amount, *[1..10] %>
  
  <%= f.submit "カートに入れる" %>
<% end %>
